/* Button Styles */
.button {
    -fx-background-color: #3498db; /* Blue */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-background-color: #2980b9; /* Darker Blue */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

/* Text Styles */



.button-primary {
    -fx-background-color: #cccccc; /* Blue */
    -fx-text-fill: white;
}

.button-primary:hover {
    -fx-background-color: #2980b9; /* Darker Blue */
}

.button-secondary {
    -fx-background-color: #2ecc71; /* Green */
    -fx-text-fill: white;
}

.button-secondary:hover {
    -fx-background-color: #27ae60; /* Darker Green */
}

.button-danger {
    -fx-background-color: #e74c3c; /* Red */
    -fx-text-fill: white;
}

.button-danger:hover {
    -fx-background-color: #c0392b; /* Darker Red */
}

/* Text Styles */
.text-primary {
    -fx-font-size: 18px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: #3498db; /* Blue */
}

.text-secondary {
    -fx-font-size: 18px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: #2ecc71; /* Green */
}

.text-danger {
    -fx-font-size: 18px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: #e74c3c; /* Red */
}


.root {
     -fx-background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjItbWluZC0xNl8xLmpwZw.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-position: center center;
}

.root1 {
     -fx-background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMDktYWV3LTAxM18xXzEuanBn.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-position: center center;
}

.root2 {
     -fx-background-image: url("https://www.shutterstock.com/shutterstock/photos/2281284523/display_1500/stock-vector-abstract-white-background-minimal-geometric-white-light-background-abstract-design-2281284523.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-position: center center;
}

.whiteTxt{
	-fx-text-fill:white;
}




/* Additional Styles */
/* Add more styles as needed */
